{% extends "layout.html" %}
{% block title %}상품 정보{% endblock title %}
{% block contents %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div>
        <h1 class="text-center">상품 정보</h1>
        <div class="card text-center" style="width: 500px;">
            {% if product.product_img %}
                <img class="card-img-top" src="{{product.product_img.url}}" style="width:100%">
            {% else %}
                <img class="card-img-top" src="/static/product/imgs/no_img.png" style="width:100%">
            {% endif %}
            <div class="card-body">
                <h3 class="card-title">{{product.product_name}}</h3>
                <h4 class="card-title">가격 : {{product.product_price}}원</h4>
                <p class="card-text">{{product.product_info}}</p>
            </div>
            <div class="card-footer text-center">
                {% if user.is_superuser %}
                <a href="{% url 'product:product_fix' product.pk %}" class="btn btn-primary">수정하기</a>
                {%endif%}
                <a href="{% url 'product:product_list' %}" class="btn btn-secondary">뒤로가기</a>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}
