{% extends "layout.html" %}
{% block title %}상품 목록{% endblock title %}
{% block contents %}
<div class="d-flex bd-highlight mb-3">
    <div class="me-auto p-2 bd-highlight"> <h4>상품 목록 리스트</h4> </div>
    <form class="d-flex" method="POST" action="{% url  'product:product_search'%}">
        {% csrf_token %}
        <div class="p-2 bd-highlight">
            <input class="form-control me-2" type="text" placeholder="Search" name="searched">
        </div> 
        <div class="p-2 bd-highlight">   
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form> 
    {% if user.is_superuser %}
    <div class="p-2 bd-highlight">
        <a href="{% url 'product:product_create' %}" class="btn btn-primary">상품 등록</a>
    </div>
    {%endif%}
</div>
<div class="row row-cols-1 row-cols-md-4 g-4" >
    {% for product in p_list %}
    <div class="col">
        <div class="card h-100" >
            <a href="{% url 'product:product_info' product.pk %}" class="list-group-item list-group-item-action">
                {% if product.product_img %}
                    <img class="card-img-top" src="{{product.product_img.url}}" >
                {% else %}
                    <img class="card-img-top" src="/static/product/imgs/no_img.png" >
                {% endif %}
                
                <div class="card-body">
                    <h3 class="card-title"> {{product.product_name}}</h3>
                    <h4 class="card-tite">가격 : {{product.product_price}}원</h4>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
<ul class="pagination mt-3 mb-5 justify-content-center">
    {% if has_previous %}
        <li class="page-item">
            <a href="{% url 'product:product_list'%}?page={{previous_page_no}}" class="page-link">이전</a>
        </li>
    {% else %}
        <!-- 시작 페이지의 이전 페이지가 있다면. -->
         <li class="page-item">
            <span class="page-link">이전</span>
         </li>
    {%endif%}

    <!-- 페이지 링크 -->
    {% for page in page_range %}
        {% if page == p_list.number %}
            <li class="page-item active">
                <span class="page-link">{{page}}</span>
            </li>
        {%else%}
            <li class="page-item">
                <a href="{% url 'product:product_list' %}?page={{page}}" class="page-link">{{page}}</a>
            </li>
        {%endif%}
    {%endfor%}

    <!-- 다음 페이지 이동 링크 -->
    {% if has_next %}
        <li class="page-item">
            <a href="{% url 'product:product_list'%}?page={{next_page_no}}" class="page=link">다음</a>
        </li>
    {%else%}
        <li class="page-item">
            <span class="page-link">다음</span>
        </li>
    {%endif%}
    
</ul>


{% endblock contents %}

