{# layer.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{%endblock title%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm be-light">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'product:product_list' %}" class="nav-link">상품 목록</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'board:index' %}" class="nav-link">QnA</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'account:detail' %}">{{ user.username }}</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'account:login' %}">로그인</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'account:logout' %}">로그아웃</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% block contents %}{%endblock contents%}
    </div>
    <!-- 자바스크립트 Start -->
    {% block script %}
        {% for question in question_list %}
        <div>
            <h2>{{ question.title }}</h2>
            <a href="{% url 'board:question_delete' question.id %}"></a>
        </div>
        {% endfor %}
    {% endblock %}
    <!-- 자바스크립트 End -->
</body>
</html>